In [28]:
import pandas as pd
import pyarrow.parquet as pq
from sqlalchemy import create_engine
from time import time

In [19]:
# Download the data
!wget https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2021-01.parquet

7[Files: 0  Bytes: 0  [0 B/s] Re]87[https://d37ci6vzurychx.cloudfr]87Saving 'yellow_tripdata_2021-01.parquet.1'
87yellow_tripdata_2021  79% [======================>       ]   16.35M    --.-KB/s87[Files: 0  Bytes: 0  [0 B/s] Re]87yellow_tripdata_2021 100% [=============================>]   20.68M   35.44MB/s87HTTP response 200  [https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2021-01.parquet]
87yellow_tripdata_2021 100% [=============================>]   20.68M   35.44MB/s87[Files: 1  Bytes: 20.68M [18.43]8

In [20]:

# Load the data
trips = pq.read_table('yellow_tripdata_2021-01.parquet')
trips = trips.to_pandas()

In [21]:
# Count the number of trips
trips.shape[0]

1369769

In [22]:
# Get the first 100 trips
trips_subset = trips.iloc[:100]
trips_subset

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1.0,2.10,1.0,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5,NaN
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1.0,0.20,1.0,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0,NaN
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1.0,14.70,1.0,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0,NaN
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0.0,10.60,1.0,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0,NaN
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1.0,4.94,1.0,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2,2021-01-01 00:12:41,2021-01-01 00:26:47,1.0,4.13,1.0,N,161,226,1,14.5,0.5,0.5,3.66,0.0,0.3,21.96,2.5,NaN
96,2,2021-01-01 00:23:29,2021-01-01 00:35:03,2.0,4.12,1.0,N,162,74,2,13.5,0.5,0.5,0.00,0.0,0.3,17.30,2.5,NaN
97,2,2021-01-01 00:46:17,2021-01-01 00:54:25,2.0,2.22,1.0,N,144,170,1,9.0,0.5,0.5,2.56,0.0,0.3,15.36,2.5,NaN
98,2,2021-01-01 00:28:16,2021-01-01 00:51:44,1.0,7.11,1.0,N,264,264,2,23.5,0.5,0.5,0.00,0.0,0.3,24.80,0.0,NaN
99,2,2021-01-01 00:42:35,2021-01-01 00:54:41,3.0,1.61,1.0,N,229,237,2,9.5,0.5,0.5,0.00,0.0,0.3,13.30,2.5,NaN

In [ ]:
# Create a connection to the database
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [ ]:
# Get the schema of the table
print(pd.io.sql.get_schema(trips_subset, name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	"RatecodeID" FLOAT(53),
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53),
	airport_fee FLOAT(53)
)

In [27]:
# Create the table in the database, we will not insert any data yet
trips_subset.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

0

In [29]:
batch_size = 100000
for start in range(0, len(trips), batch_size):
    t_start = time()
    end = start + batch_size
    batch = trips.iloc[start:end]
    batch.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')
    t_end = time()
    print(f"Processed rows {start} to {end - 1}, it took {t_end - t_start:.3f} seconds")

Processed rows 0 to 99999, it took 6.966 seconds
Processed rows 100000 to 199999, it took 6.872 seconds
Processed rows 200000 to 299999, it took 6.768 seconds
Processed rows 300000 to 399999, it took 6.732 seconds
Processed rows 400000 to 499999, it took 7.508 seconds
Processed rows 500000 to 599999, it took 7.526 seconds
Processed rows 600000 to 699999, it took 7.584 seconds
Processed rows 700000 to 799999, it took 7.694 seconds
Processed rows 800000 to 899999, it took 7.570 seconds
Processed rows 900000 to 999999, it took 8.536 seconds
Processed rows 1000000 to 1099999, it took 9.875 seconds
Processed rows 1100000 to 1199999, it took 9.437 seconds
Processed rows 1200000 to 1299999, it took 10.947 seconds
Processed rows 1300000 to 1399999, it took 4.577 seconds